{% extends "auth-base.html" %} {% block title %}Register Account{% endblock %}
{% block body %}

<div class="container">
  <section class="vh-90">
    <div class="container h-100">
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legen class="border-bottom mb-4">Sign Up</legen>
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }} {{
            form.username(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }} {{
            form.email(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ form.password.label(class="form-control-label") }} {{
            form.password(class="form-control form-control-lg")}}
          </div>
          <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }} {{
            form.confirm_password(class="form-control form-control-lg")}}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn authbg form-control mt-3") }}
        </div>
      </form>
    </div>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already Have an Account?
        <a href="{{url_for('login')}}" class="ml-2">Login</a>
      </small>
    </div>
  </section>
</div>

{% endblock %}
