{% extends "base.html" %} {% block content %} {% for post in posts %}
<h1>{{ post.title }}</h1>
<p>By: {{post.author}} on {{post.date_posted}}</p>
<p>{{post.content}}</p>

{% endfor %}

<form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group form-control">
        <legend class="border-bottom mb-4">Register</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }} {{
          form.username.label(class="form-control
          form-control-lg") }}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }} {{
          form.email.label(class="form-control form-control-lg")
          }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }} {{
          form.password.label(class="form-control
          form-control-lg") }}
        </div>
        <div class="form-group">
          {{
          form.confirm_password.label(class="form-control-label")
          }} {{ form.confirm_password.label(class="form-control
          form-control-lg") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary authbg") }}
      </div>
    </form>
  </div>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already Have an Account?
      <a href="{{url_for('login')}}" class="ml-2"></a>Login
    </small>
  </div>

{% endblock %}


# Resize the picture
output_size = (125, 125)
i = Image.open(form_picture)
i.thumbnail(output_size)
i.save(picture_path)


<div class="card mb-5" style="border-radius: 15px">
  <div class="card-body p-4">
        <h3 class="mb-3">{{ pitch.title }}</h3>
        <p>{{pitch.content }}</p>
        <p class="small mb-0">
              <i class="far fa-star fa-lg"></i>
              <span class="mx-2">|</span> Created by
              <strong>{{pitch.author.username}}</strong> on {{pitch.date_posted.strftime('%Y-%m-%d')}}</span>
        </p>
        <hr class="my-4" />
        <div class="d-flex justify-content-start align-items-center">
              
              <a href="#!">
                    <img
                    src="{{url_for('static', filename='profile_pics/' + pitch.author.image_file)}}"
                    alt="avatar"
                    class="img-fluid rounded-circle me-3"
                    width="35"
                    />
              </a>
              <button
              type="button"
              class="btn btn-outline-dark btn-sm btn-floating"
              >
                    <i class="fas fa-plus"></i>
              </button>
        </div>
  </div>
</div>