{% extends "base.html" %} {% block content %}

<!-- Start Feature Area -->
<div id="about"></div>
<div class="feature section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">What Is One Mic</h2>
          <p class="lead wow fadeInUp" data-wow-delay=".6s">
            One Mic is a free platform where users get access to various pitches
            based on their preferred categories and professions. Users also get
            an opportunity to contribute to the community by signing up and
            posting a pitch for other users to see and comment.
          </p>
        </div>
      </div>
    </div>
    <div id="pitches" class="my-4"></div>
    <div class="row">
      <h2 class="text-center text-title mb-5">View Pitches</h2>
      {% for pitch in pitches %}
      <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
        <div class="card mb-5" style="border-radius: 15px">
          <div class="card-body p-4">
            <h3 class="mb-3"><a href="{{ url_for('pitch', pitch_id=pitch.id) }}">{{ pitch.title }}</a></h3>
            <p>{{pitch.content | truncate(50)}}</p>
            <p class="small mb-0">
              <i class="far fa-star fa-lg"></i>
              <span class="mx-2">|</span> Created by
              <strong>{{pitch.author.username}}</strong> on {{pitch.date_posted.strftime('%Y-%m-%d')}}</span>
            </p>
            <hr class="my-4" />
            <div class="d-flex justify-content-start align-items-center">
              
              <a href="#!">
                <img
                  src="{{url_for('static', filename='profile_pics/' + pitch.author.image_file)}}"
                  alt="avatar"
                  class="img-fluid rounded-circle me-3"
                  width="35"
                />
              </a>
              <button
                type="button"
                class="btn btn-outline-dark btn-sm btn-floating"
              >
                <i class="fas fa-comments" title="Add Comment"></i>
              </button>
              {% if pitch.author == current_user %}
                <button type="button" class="btn btn-outline-dark btn-sm btn-floating mx-3" title="Edit Pitch">
                      <a href="{{ url_for('update_pitch', pitch_id=pitch.id) }}">
                            <i class="far fa-edit fa-lg"></i>
                      </a>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- <div class="feature-box">
          <div class="tumb">
            <img src="" alt="" />
          </div>

          <h3 class="text-title">{{ pitch.title }}</h3>
          <p>{{pitch.content}}</p>
          <small class="text-muted"
            >By: {{pitch.author}} on {{pitch.date_posted}}</small
          >
        </div> -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Features Area -->
{% endblock %}
